body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
}
form{
    display: inline-block;
    text-align: left;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    padding: 10px;
}
th{
    background-color: #f2f2f2;
}
.error{
    color: red;
}
.success{
    color: green;
}